

@use '../util' as *;       // Main Font


        :root {
    --akaya: 'Akaya Telivigala', sans-serif; 
    }
 

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;   //inherits the box sizing properties from the html
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--akaya);
    background: linear-gradient(34deg, var(--orange1) 0%, var(--green2)100%);  
    
  
}

h1, h2, h3 {
    margin-top:  0;
    font-family: var(--akaya);
}
 
 
img {
    
}

a {
    text-decoration: none;
    color: var(--text);
}